.ubicaciones-id {
  box-sizing: border-box;
  width: 70vw;
  height: 70%;
  border: 1px solid white;
  border-radius: 32px 0px 32px 0px;
  color: white;
  display: flex;
  gap: 16px;
  padding: 16px 32px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    linear-gradient(135deg, #42b4ca 0.38%, #bfde42 100%);
}
.texto {
  display: flex;
  flex-direction: column;
}
